* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*BACKGROUNDS-COLORS  */
  --color-main: #111;
  --color-second: #222;
  --color-red: rgb(214, 40, 40);
  --color-three: #48e;

  /* COLOR TEXT */
  --color-white: #eee;
}

body {
  background: var(--color-main);
  color: var(--color-white);
  font-family: sans-serif;
}

/* HEADER */
header {
  background: var(--color-second);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0.7rem 1rem;
  height: 59.38px;
}

nav {
  display: flex;
  gap: 6rem;
}

nav ul {
  display: flex;
  gap: 2rem;
}

ul li {
  list-style-type: none;
}

.active {
  font-weight: bold;
}

ul li a {
  color: var(--color-white);
  text-decoration: none;
}

ul li a:hover {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--color-white);
}

.container__cart {
  position: relative;
}

.container__cart i {
  font-size: 1.1rem;
}

.bubble {
  background: var(--color-red);
  border: 0;
  padding: 0.3rem;
  border-radius: 1rem;
  color: var(--color-white);
  position: absolute;
  top: 0;
  right: 25px;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 59.38px;
}

/* HERO */

#hero {
  display: flex;
  justify-content: center;
  gap: 1rem;
  max-width: 1200px;
  padding: 4rem 1rem;
}

/* HERO INFO */

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  gap: 1.5rem;
  padding: 1rem;
}

.hero__info h2 {
  font-size: 1.7rem;
}

.hero__info span {
  color: var(--color-red);
}

.hero__info p {
  max-width: 550px;
}

.hero__info a {
  background: var(--color-red);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: 0.5s;
  border-radius: 0.4rem;
}

.hero__info a:hover {
  box-shadow: 0 0 7px var(--color-red);
}

/* HERO CARD */

.container__card-hero {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__card {
  background: var(--color-second);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card__img {
  border-radius: 0.7rem;
  max-width: 300px;
}

.hero__card h3 {
  padding: 0.5rem;
  font-size: 1rem;
}

.card__hero-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.card__hero-info button {
  border: 0;
  background: var(--color-red);
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: 0.5s;
}

.card__hero-info button:hover {
  background: var(--color-three);
}

/* BENEFICIOS */
#benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  max-width: 1200px;
  padding: 0.3rem 1rem;
}

.benefits__title {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
}

.container__card-benefits {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;
}

.card__benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 300px;
  height: 300px;
  padding: 1rem 0.7rem;
  background: var(--color-second);
  border-radius: 1rem;
  box-shadow: 0 0 8px var(--color-second);
}

.card__benefits h3 {
  font-size: 1.2rem;
}

.card__benefits p {
  max-width: 280px;
}

/* PRODUCTOS */
#products {
  max-width: 1200px;
  padding: 5rem 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.products__title {
  font-size: 1.8rem;
  padding: 1rem;
}

.categorys {
  display: flex;
  gap: 1.5rem;
  margin: 1rem;
  flex-wrap: wrap;
}

.category__button {
  background: var(--color-second);
  color: var(--color-white);
  padding: 0.7rem 1.3rem;
  transition: 0.5s;
  border-radius: 0.4rem;
  border: 0;
}

.active__category {
  background: var(--color-red);
}

.container__products {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  flex-wrap: wrap;
}

.button__see-more {
  border: 0;
  margin: 2rem 0.5rem;
  padding: 0.7rem 1.3rem;
  border: 1px solid var(--color-red);
  background: var(--color-second);
  color: var(--color-white);
  border-radius: 0.4rem;
}

.button__see-more:hover {
  background: var(--color-red);
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }

  /* HERO */

  #hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__info {
    justify-content: center;
    align-items: center;
  }

  .hero__info h2 {
    text-align: center;
  }

  .hero__info p {
    text-align: center;
  }

  .navbar ul {
    display: none;
  }

  .footer__list {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  /* #hero {

  } */
}
